<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" xmlns:tools="http://schemas.android.com/tools" package="xyz.windsoft.mtassets.nat">
  <uses-sdk android:minSdkVersion="19" android:targetSdkVersion="33" />
  <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
  <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" android:maxSdkVersion="29" />
  <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
  <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES" />
  <uses-permission android:name="android.permission.RECORD_AUDIO" />
  <uses-permission android:name="android.permission.CAMERA" />
  <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
  <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
  <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
  <uses-permission android:name="android.permission.VIBRATE" />
  <!-- Optional permissions /\ Above -->
  <!-- Required permissions \/ Below -->
  <uses-permission android:name="android.permission.INTERNET" />
  <uses-permission android:name="android.permission.WAKE_LOCK" />
  <!-- Optional queries for some services. The "queries" Tag will be enabled/disabled by the NAT Preferences in Unity Editor -->
  <!-- The queries content must be wrote in ONE line only and by default the tag is DISABLED with a comment tag -->
  <!-- <queries><intent><action android:name="android.speech.RecognitionService" /></intent></queries> -->
  <!-- Default application manifest data -->
  <application android:hardwareAccelerated="true" android:requestLegacyExternalStorage="true" tools:ignore="GoogleAppIndexingWarning">
    <!-- NAT Activities Extended From UnityPlayerActivity -->
    <activity android:name="xyz.windsoft.mtassets.nat.Activities.FullscreenWebview" android:configChanges="orientation|screenSize" android:label="@string/webview_title" android:screenOrientation="portrait" android:theme="@style/WebviewTheme" />
    <activity android:name="xyz.windsoft.mtassets.nat.Activities.PermissionsRequesterWizard" android:configChanges="orientation|screenSize" android:label="@string/permissions_requester_wizard_title" android:screenOrientation="portrait" android:theme="@style/PermissionsRequesterWizardTheme" />
    <activity android:name="xyz.windsoft.mtassets.nat.Activities.NotificationInteractReceiver" android:configChanges="orientation|screenSize" android:label="@string/notification_interact_receiver_title" android:screenOrientation="portrait" android:theme="@style/NotificationInteractReceiverTheme" />
    <activity android:name="xyz.windsoft.mtassets.nat.Activities.RestartApplication" android:configChanges="orientation|screenSize" android:label="@string/restart_application_title" android:screenOrientation="portrait" android:theme="@style/RestartApplicationTheme" />
    <activity android:name="xyz.windsoft.mtassets.nat.Activities.FilePickerOARS" android:configChanges="orientation|screenSize" android:label="@string/file_picker_oars_title" android:process=":NATFilePicker" android:screenOrientation="portrait" android:theme="@style/FilePickerOARSTheme" />
    <activity android:name="xyz.windsoft.mtassets.nat.Activities.PlayGamesFriendsAccOARS" android:configChanges="orientation|screenSize" android:label="@string/play_games_friend_list_access_oars_title" android:process=":NATPlayGamesFL" android:screenOrientation="portrait" android:theme="@style/PlayGamesFriendListAccessOARSTheme" />
    <activity android:name="xyz.windsoft.mtassets.nat.Activities.PlayGamesCloudSaveOARS" android:configChanges="orientation|screenSize" android:label="@string/play_games_cloud_save_oars_title" android:process=":NATPlayGamesCS" android:screenOrientation="portrait" android:theme="@style/PlayGamesCloudSaveOARSTheme" />
    <!-- Broadcast receivers for notifications -->
    <receiver android:name="xyz.windsoft.mtassets.nat.Receivers.OnNotifyChannel_1" />
    <receiver android:name="xyz.windsoft.mtassets.nat.Receivers.OnNotifyChannel_2" />
    <receiver android:name="xyz.windsoft.mtassets.nat.Receivers.OnNotifyChannel_3" />
    <receiver android:name="xyz.windsoft.mtassets.nat.Receivers.OnNotifyChannel_4" />
    <receiver android:name="xyz.windsoft.mtassets.nat.Receivers.OnNotifyChannel_5" />
    <receiver android:name="xyz.windsoft.mtassets.nat.Receivers.OnNotifyChannel_6" />
    <receiver android:name="xyz.windsoft.mtassets.nat.Receivers.OnNotifyChannel_7" />
    <receiver android:name="xyz.windsoft.mtassets.nat.Receivers.OnNotifyChannel_8" />
    <receiver android:name="xyz.windsoft.mtassets.nat.Receivers.OnNotifyChannel_9" />
    <receiver android:name="xyz.windsoft.mtassets.nat.Receivers.OnNotifyChannel_10" />
    <receiver android:name="xyz.windsoft.mtassets.nat.Receivers.OnNotifyChannel_11" />
    <receiver android:name="xyz.windsoft.mtassets.nat.Receivers.OnNotifyChannel_12" />
    <receiver android:name="xyz.windsoft.mtassets.nat.Receivers.OnNotifyChannel_13" />
    <receiver android:name="xyz.windsoft.mtassets.nat.Receivers.OnNotifyChannel_14" />
    <receiver android:name="xyz.windsoft.mtassets.nat.Receivers.OnNotifyChannel_15" />
    <receiver android:name="xyz.windsoft.mtassets.nat.Receivers.OnNotifyChannel_16" />
    <receiver android:name="xyz.windsoft.mtassets.nat.Receivers.OnNotifyChannel_17" />
    <receiver android:name="xyz.windsoft.mtassets.nat.Receivers.OnNotifyChannel_18" />
    <receiver android:name="xyz.windsoft.mtassets.nat.Receivers.OnNotifyChannel_19" />
    <receiver android:name="xyz.windsoft.mtassets.nat.Receivers.OnNotifyChannel_20" />
    <!-- Broadcast receivers for tasks -->
    <receiver android:name="xyz.windsoft.mtassets.nat.Receivers.OnPerformTask" />
    <!-- File Provider for Other Apps -->
    <provider android:name="xyz.windsoft.mtassets.nat.Providers.GenericFileProvider" android:authorities="${applicationId}" android:exported="false" android:grantUriPermissions="true">
      <meta-data android:name="android.support.FILE_PROVIDER_PATHS" android:resource="@xml/file_provider_paths" />
    </provider>
    <!-- Meta parameters for Play Games -->
    <meta-data android:name="com.google.android.gms.games.APP_ID" android:value="@string/app_id" />
    <meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version" />
    <!-- Meta parameters for Unity -->
    <meta-data android:name="enableAccurateNotify" android:value="true" />
    <meta-data android:name="enableAccurateNotifyForAndroid12OrNewer" android:value="true" />
    <meta-data android:name="forceVibrateOnNotify" android:value="true" />
    <meta-data android:name="com.google.android.geo.API_KEY" android:value="" />
    <meta-data android:name="ntpServers" android:value="time.google.com!!pool.ntp.org!!time.cloudflare.com!!time.facebook.com!!time.windows.com" />
    <meta-data android:name="delayBetweenStepsTask" android:value="500" />
    <meta-data android:name="enableAccurateTask" android:value="true" />
    <meta-data android:name="enableAccurateTaskForAndroid12OrNewer" android:value="true" />
    <meta-data android:name="enableNotifyTaskProgress" android:value="true" />
    <meta-data android:name="notifyTaskProgressTitle" android:value="Running Task" />
    <meta-data android:name="logTaskCrashToFile" android:value="false" />
    <meta-data android:name="maxLoopIterationsInTask" android:value="10" />
  </application>
</manifest>